.main{
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
}

th{
  border: 2px solid;
  border-color: lightgrey;
  color: white;
  padding-left: 10px;
  background-color: #0A66C2;
}

td{
    border: 2px solid;
    border-color: lightgrey;
    padding-left: 10px;
}

tr:nth-child(even){background-color: rgb(185, 230, 245)}

table {
    border: 1px solid;
    border-color: lightgrey;
    border-collapse: collapse;
    border-radius:6px;
    width: 100%;
    border-spacing: 1; 
      overflow:hidden;
  }

.button {
  align-items: center;
  background-color: #4999e9;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}
