{% extends 'base.html' %}

{% block content %}
  <div class="container" >
    <canvas id="bar-chart" ></canvas>
  </div>
  <div class="container" >
    <canvas id="bar-chart1" ></canvas>
  </div>
  <div class="container" >
    <canvas id="bar-chart2" ></canvas>
  </div>
  <div class="container" >
    <canvas id="bar-chart3" ></canvas>
  </div>
  <div class="container" >
    <canvas id="bar-chart4" ></canvas>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <script>

    var config = {
        type: 'bar',
        data: {
            datasets: [{
              data: {{ context.dup_graph.num_dup | safe }},
              backgroundColor: 'blue',
              label: 'Duplicate rows',
            }],
            labels: {{ context.dup_graph.labels | safe }}
        },
      options: {
        responsive: true,
        title: {
          display: true,
          text: 'Duplicate rows counts'
        }
      },
    };
    var config1 = {
      type: 'bar',
      data: {
          datasets: [{
            data: {{ context.dup_graph1.null_rows | safe }},
            backgroundColor: 'blue',
            label: 'Null rows',
          }],
          labels: {{ context.dup_graph1.labels | safe }}
      },
    options: {
      responsive: true,
      title: {
        display: true,
        text: 'Null rows counts'
      }
    },
  };
    var config2 = {
      type: 'bar',
      data: {
          datasets: [{
            data: {{ context.dup_graph2.num_rows | safe }},
            backgroundColor: 'red',
            label: 'Num of rows',
          }],
          labels: {{ context.dup_graph2.labels | safe }}
      },
      options: {
        responsive: true,
        title: {
          display: true,
          text: 'Num of rows counts'
        }
      },
    };
    var config3 = {
      type: 'bar',
      data: {
          datasets: [{
            data: {{ context.dup_graph3.num_cols | safe }},
            backgroundColor: 'green',
            label: 'Num of cols',
          }],
          labels: {{ context.dup_graph3.labels | safe }}
      },
      options: {
        responsive: true,
        title: {
          display: true,
          text: 'Num of cols counts'
        }
      },
    };
    const conf=[];
    var t=0;
    {% for i,j in context.dup_graph4.items%}

      conf[t] = {
        type: 'pie',
        data: {
            datasets: [{
              data: {{ context.dup_graph4.i | safe }},
              backgroundColor: [
              '#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3','#A2A2A2', '#C5C5C5', '#D1D1D1'
            ],
              label: 'Null cols',
            }],
            labels: {{ context.dup_graph4.j.index | safe }}
        },
        options: {
          responsive: true,
          title: {
            display: true,
            text: 'Null cols counts'
          }
        },
      };
      t=t+1;
    {% endfor %}
    window.onload = function() {
      var ctx = document.getElementById('bar-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
      var ctx1 = document.getElementById('bar-chart1').getContext('2d');
      window.myPie1 = new Chart(ctx1, config1);
      var ctx2 = document.getElementById('bar-chart2').getContext('2d');
      window.myPie2 = new Chart(ctx2, config2);
      var ctx3 = document.getElementById('bar-chart3').getContext('2d');
      window.myPie3 = new Chart(ctx3, config3);
      var g=0;
      {% for i in dup_graph4 %}
      console.log(g)
        var ctx4 = document.getElementById('bar-chart4').getContext('2d');
        window.myPie4 = new Chart(ctx4, conf[g]);
        g=g+1;
      {%endfor%}
    };


  </script>

{% endblock %}