{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Duplicates</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/syle_duplicate.css" />
</head>

{% include 'navbar.html' %}
<body>
    <div class="main">
        {% for table in context %}
        <p>
        <h3>File: {{table.file_name}}</h3>
        </p>
        <p>Number of duplicate entries: {{table.num_duplicates}}</p>
        {% if table.num_duplicates > 0 %}
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        {% for column in table.columns %}
                        <th>
                            {{ column }}
                        </th>
                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    {% for row in table.rows %}
                    <tr>
                        {% for cell in row %}

                        <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        <br>
        {% endfor %}
        <br>
        <!-- <p>Would you like to delete these duplicate records or proceed as is?</p> -->
        <!-- <form action="/duplicate/grouping/" method="post">
            {% csrf_token %}

            <button type="submit" name="delete_dup" class="button">DELETE DUPLICATE RECORDS</button>
            <button type="submit" name="keep_dup" class="button">KEEP DUPLICATE RECORDS</button>
        </form> -->
    </div>

</body>

</html>