{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{%static 'homestyle.css' %}">
    <title>Home Page</title>
</head>
<body>
    <header>
        <img class="navlogo" src="{% static 'navlogo1.jpg' %}" alt="sidelogo">
        <nav>
            <ul class="navlinks">
                <li><a href="#">Home</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        <a class="login" href="#"><button>Login</button></a>
    </header>
    <div class="wrapper">
        <div class="logo" alt="logo">
        </div>
        <div class="container">
            <div class="card">
                <div class="imgbx">
                    <img class="upload" src="{% static 'uploading.jpg' %}" alt="Uploading files">
                </div>
                <div class="content">
                    <h2>UPLOAD FILES</h2>
                    <a class="drophere" href="#"><button>Drop your files here</button></a>

                </div>
            </div>
            <div class="card">
            <div class="imgbx">
                <img class="import" src="{% static 'importing.png' %}" alt="Importing files">
            </div>
            <div class="content">
                <h2>IMPORT FILES</h2>
                <a class="drophere" href="#"><button><input type="file" class="upload-box" />Drop your files here</button></a></button>            
            </div>
            </div>
            <div class="card">
            <div class="imgbx">
                <img class="group" src="{% static 'grouping.jpg' %}" alt="Grouping files">
            </div>
            <div class="content">
                <h2>GROUP DATA</h2>
                <a class="drophere" href="#"><button>Drop your files here</button></a>
            </div>
            </div>
            <div class="card">
                <div class="imgbx">
                    <img class="" src="{% static 'duplicate.jpg' %}" alt="find and remove duplicates">
                </div>
                <div class="content">
                    <h2>FIND DUPLICATES</h2>
                    <a class="drophere" href="#"><button>Drop your files here</button></a>
                </div>
                </div>
                <div class="card">
                    <div class="imgbx">
                        <img class="" src="{% static 'chart_monitor.jpg' %}" alt="visualize the data">
                    </div>
                    <div class="content">
                        <h2>GROUP DATA</h2>
                        <a class="drophere" href="#"><button>Drop your files here</button></a>
                    </div>
                    </div>
             </div>
    </div>
            <footer>
                <div class="info">
                    <div class="fw about">
                        <h2>ABOUT US</h2>
                        <p>The objective of this project is to build a web app with node/ExpressJS 
                            and MySQL database. These apps will be useful for your Database or Data 
                            warehouse concerns. This app can support uploading your existing excel 
                            file with format .xlsx or .xls into database MySQL. It can use upload 
                            multiple files, but we will limit 5 files for server optimization reason</p>
                            <div class="socialmedia">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkdin-f"></i></a></li>
                                </ul>
                            </div>
                    </div>
                    <div class="fw link">
                        <h2>QUICK LINKS</h2>
                         <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>                      
                    </div>
                    <div class="fw contact">
                        <h2>CONTACT US</h2>
                        <ul>
                            <li>
                                <span><i class="fab fa-mapmarker-alt"></i></span>
                                <p>Searce pune office, Maharastra</p>
                            </li>
                            <li>
                                <span><i class="fab fa-envolpe"></i></span>
                                <a href="#">harryarmando81@gmail.com</a>
                            </li>
                            <li>
                                <span><i class="fab fa-phone-volume"></i></span>
                               <a href="#">98721 89500</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </footer>


</body>
</html>