{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{%static 'homestyle.css' %}">
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/upload_arrow.css">
    <link rel="icon" href="icon.png">
    <script src="https://kit.fontawesome.com/7a538433c3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
      .navbar{
       height:60px;
      }
    .navbar-brand
    {
        position: absolute;
        width: 30%;
        left: 0;
        text-align: center;
        margin:0 auto;
    }
  </style>
</head>
<script>

    if(document.getElementById("upload").value.length >0) {
        alert('file selected');
        document.getElementById("upload").value.focus();
    }
    </script>
<body style="height:700px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark" style="border-radius:0px;">
        <a class="navbar-brand" style="color:white; font-size:xx-large;"href="#">S - Loader</a>
        
        <div id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#"></a>
            </li>
          </ul>
        </div>
      </nav>
    {% include 'messages.html' %}
    <div class="row">
    <div class="col container" style="margin-top:none; ">
        <div class="content">
            <!--<form action="{% url 'grouping:select_columns' %}" method="POST" >
                {% csrf_token %}
                <div class="drag-area" style="height: 300px;width: 400px; margin-bottom:10px;align-content:center">
                    <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                <label id="upload" class="drophere">  
                    <input  class="file_but" type="file" name="files" multiple>
                    Drop your files here</label>
                </div>
            </form>-->
        <div class="drag-area" style="height: 350px;width: 400px; margin-bottom:10px;align-content:center">
            <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
            {% include 'multiple.html'%}
        </div>
            
        </div>
    </div>
    <div class="col container" style="margin-top:none; ">
        <div class="content">
            <!--<form action="{% url 'grouping:select_columns' %}" method="POST" >
                {% csrf_token %}
                <div class="drag-area" style="height: 300px;width: 400px; margin-bottom:10px;align-content:center">
                    <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                <label id="upload" class="drophere">  
                    <input  class="file_but" type="file" name="files" multiple>
                    Drop your files here</label>
                </div>
            </form>-->
        <div class="drag-area" style="height: 350px;width: 400px; margin-bottom:10px;align-content:center">
            <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
            {% include 'multiple_duplicate.html'%}
        </div>
            
        </div>
    </div>
</div>

    <!-- <div class="card">
            <div class="imgbx">
                <img class="import" src="{% static 'importing.png' %}" alt="Importing files">
            </div>
            <div class="content">
                <h2>IMPORT FILES</h2>
                <a class="drophere" href="#"><button><input type="file" class="upload-box" />Drop your files here</button></a></button>            
            </div>
            </div>
            <div class="card">
            <div class="imgbx">
                <img class="group" src="{% static 'grouping.jpg' %}" alt="Grouping files">
            </div>
            <div class="content">
                <h2>GROUP DATA</h2>
                <a class="drophere" href="#"><button>Drop your files here</button></a>
            </div>
            </div>
            <div class="card">
                <div class="imgbx">
                    <img class="" src="{% static 'duplicate.jpg' %}" alt="find and remove duplicates">
                </div>
                <div class="content">
                    <h2>FIND DUPLICATES</h2>
                    <a class="drophere" href="#"><button>Drop your files here</button></a>
                </div>
                </div>
                <div class="card">
                    <div class="imgbx">
                        <img class="" src="{% static 'chart_monitor.jpg' %}" alt="visualize the data">
                    </div>
                    <div class="content">
                        <h2>GROUP DATA</h2>
                        <a class="drophere" href="#"><button>Drop your files here</button></a>
                    </div>
                    </div>
             </div> -->
    <!--</div>
    <footer style="height:50%">
        <div class="info">
            <div class="">
                <h2>ABOUT US</h2>
                <p>The objective of this project is to build a web app with node/ExpressJS
                    and MySQL database. These apps will be useful for your Database or Data
                    warehouse concerns. This app can support uploading your existing excel
                    file with format .xlsx or .xls into database MySQL. It can use upload
                    multiple files, but we will limit 5 files for server optimization reason</p>
                
            </div>
            
        </div>
    </footer>-->


</body>

</html>