
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Duplicates</title>
    <link rel="stylesheet" href="{% static 'style_duplicate.css' %}" />
</head>
<body>
    <p>Hello,</p>
    {% for table in context %}
    <p>Number of duplicate entries: {{table.num_duplicates}}</p>
    <div>

        <table>
            <thead>
                <tr>
                    {% for column in table.columns %}
                    <th>
                        {{ column }}
                    </th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for row in table.rows %}
                <tr>
                    {% for cell in row %}

                    <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <p>Would you like to delete these duplicate records or proceed as is?</p>
    <br>
    {% endfor %}
    <form action="/duplicate/grouping/" method="post">
        {% csrf_token %}

        <button style="align-items: center;
        background-color: #4999e9;
        border: 0;
        border-radius: 100px;
        box-sizing: border-box;
        color: #ffffff;
        cursor: pointer;
        display: inline-flex;
        font-family: -apple-system, system-ui, system-ui;
        font-size: 16px; font-weight: 600; justify-content:
            center; line-height: 20px; max-width: 480px; min-height: 40px; min-width: 0px; overflow: hidden; padding:
            0px; padding-left: 20px; padding-right: 20px; text-align: center; touch-action: manipulation; transition:
            background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
            color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s; user-select: none; -webkit-user-select: none; vertical-align:
            middle;" type="submit" name="delete_dup" class="button">DELETE DUPLICATE RECORDS</button>
        <button style="align-items: center;
        background-color: #4999e9;
        border: 0;
        border-radius: 100px;
        box-sizing: border-box;
        color: #ffffff;
        cursor: pointer;
        display: inline-flex;
        font-family: -apple-system, system-ui, system-ui;
        font-size: 16px; font-weight: 600; justify-content:
            center; line-height: 20px; max-width: 480px; min-height: 40px; min-width: 0px; overflow: hidden; padding:
            0px; padding-left: 20px; padding-right: 20px; text-align: center; touch-action: manipulation; transition:
            background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
            color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s; user-select: none; -webkit-user-select: none; vertical-align:
            middle;" type="submit" name="keep_dup" class="button">KEEP DUPLICATE RECORDS</button>
    </form>

</body>

</html>