<!DOCTYPE html>
<html>

<head>
    <title>Duplicates</title>
</head>

<body>
    <p>Hello,</p>
    {% for table in context %}
    <p>Number of duplicate entries: {{table.num_duplicates}}</p>
    <div>
        
        <table border="1">
            <thead>
                <tr>
                    {% for column in table.columns %}
                    <th>
                        {{ column }}
                    </th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for row in table.rows %}
                <tr>
                    {% for cell in row %}

                    <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <p>Would you like to delete these duplicate records or proceed as is?</p>
    <br>
    {% endfor %}
    <form action="/duplicate/grouping/" method="post">
        {% csrf_token %}

        <button type="submit" name="delete_dup">DELETE DUPLICATE RECORDS</button>
        <button type="submit" name="keep_dup">KEEP DUPLICATE RECORDS</button>
    </form>



</body>

</html>