
{% if messages %}
<ul class="messages" id="message">
    {% for message in messages %}
    <div class="container-fluid" style="margin-top:5px;">
    <div class="alert {{ message.tags }} alert-dismissible" role="alert" style="background-color:#80afee; height:10%; border-radius:6px; text-align:center;" >
    
        {{ message }}
        
    </div>
    </div>
    {% endfor %}
</ul>
{% endif %}

<script>
    const myTimeout = setTimeout(myGreeting, 5000);

function myGreeting() {
  document.getElementById("message").innerHTML = ""
}
</script>