{% extends 'base.html'%}
{% block content %}
<div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
<div class="multiple_files">
	<fieldset name="Multiple Files Upload">
		<form method="post" action="{% url 'grouping:select_columns' %}" enctype="multipart/form-data" class="form_style">
			{% csrf_token %}
			<div >
				<label class="fileupl">
				<input class="file_but" type="file" name="files" multiple>
				</label>&nbsp;&nbsp;
			</div>
			<button type="submit" class="btn btn-info">PROCEED</button>
		</form>
	</fieldset>
</div>
{% endblock %}
